<h1>Editing country</h1>

<% form_for(@country) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </p>
  <p>
    <%= f.label :density_per_sq_km %><br />
    <%= f.text_field :density_per_sq_km %>
  </p>
  <p>
    <%= f.label :source_update_date %><br />
    <%= f.date_select :source_update_date %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @country %> |
<%= link_to 'Back', countries_path %>