<h1>Listing countries</h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Population</th>
    <th>Density per sq km</th>
    <th>Source update date</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%=h country.full_name %></td>
    <td><%=h country.population %></td>
    <td><%=h country.density_per_sq_km %></td>
    <td><%=h country.source_update_date %></td>
    <td><%=h country.created_at %></td>
    <td><%=h country.updated_at %></td>
    <td><%= link_to 'Show', country %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
    <td><%= link_to 'Destroy', country, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New country', new_country_path %>