<h1>Listing create_places</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Abbreviation</th>
    <th>Population</th>
    <th>Place type</th>
    <th>Area km sq</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% @create_places.each do |create_place| %>
  <tr>
    <td><%=h create_place.name %></td>
    <td><%=h create_place.abbreviation %></td>
    <td><%=h create_place.population %></td>
    <td><%=h create_place.place_type %></td>
    <td><%=h create_place.area_km_sq %></td>
    <td><%=h create_place.created_at %></td>
    <td><%=h create_place.updated_at %></td>
    <td><%= link_to 'Show', create_place %></td>
    <td><%= link_to 'Edit', edit_create_place_path(create_place) %></td>
    <td><%= link_to 'Destroy', create_place, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New create_place', new_create_place_path %>