<p>
  <b>Name:</b>
  <%=h @create_place.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%=h @create_place.abbreviation %>
</p>

<p>
  <b>Population:</b>
  <%=h @create_place.population %>
</p>

<p>
  <b>Place type:</b>
  <%=h @create_place.place_type %>
</p>

<p>
  <b>Area km sq:</b>
  <%=h @create_place.area_km_sq %>
</p>

<p>
  <b>Created at:</b>
  <%=h @create_place.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @create_place.updated_at %>
</p>


<%= link_to 'Edit', edit_create_place_path(@create_place) %> |
<%= link_to 'Back', create_places_path %>